.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.layout, .innerContent {
  background: white;
}

.innerContent { 
  padding: 24px;
  min-height: 360px;
}

.content {
  margin: 0 16px;
}

.header {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
}

.footer {
  text-align: center;
}

.breadcrumb {
  margin: 16px 0;
}