.root .layout {
  background-image: url('/public/images/bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-height: 100vh;
}

.root .innerContent { 
  padding: 24px;
  min-height: 360px;
}

.root .content {
  margin: 0 16px;
}

.root .header {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
  background-color: transparent;
}

.root .footer {
  text-align: center;
  background-color: transparent;
}

.root .breadcrumb {
  margin: 16px 0;
}